.wrap {
    overflow: hidden; 
}

.bg-image{
    background-image: url("../images/photo2.png");
    background-size: cover;
    -moz-background-size: cover;
}
  
.bg-mask {
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
}

.event_site {
    position: relative;  bottom: 200px; left: 90%;
}

.bg-line {
}

.sidebar {
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 500px;
    height: auto;
}

.wrapper {
    float: left;
    margin: 0;
    margin-left: -330px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content {
    margin-left: 330px;
}

.sidebar {
    margin-right: 10%;
    float: right;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 300px;
    height: auto;
    margin-top: 30px;
}

.map {
    position:relative; 
    overflow:hidden; 
    z-index:10;

}

.event_site img {
    border-radius: 100%; margin-bottom: 10px;  border: 2px solid rgba(0, 0, 0, 1);
}

@media (max-width: 1000px) {
    .wrapper, .content, .sidebar,  {
         float: left;
         width: auto;
    }

    .event_site {
        position: relative; left: 70%; right: 10%; top: 30px;
        margin-right: auto;
        margin-left: auto;
    }

    .event_site img {
        position: relative; right: 5%;
    }

    .sidebar {
        width: 550px;
        float: left;
        margin-top: 75px;
        margin-left: 20%;
    }
}

@media (max-width: 700px) {
    .map {
        width: auto;
        margin-right: 5px;
    }

    .sidebar {
        width: auto;
        float: left;
        margin-top: -10px;
        margin-left: 18%;
    }

    .h1 {
        font-size: 60px;
    }
}
